<% layout('boilerplate'); -%>

<h1>Shop...Shop...Shop..New eCommerce</h1>

<p>starting point</p>



<p>Signup</p>


<h>Start your search here</h3>

<p> Our prices are</p>

<h3>Smart Items</h3>
<p>These will appear across the sites</p>


<h3>Build a smart cart</h3>
<p>More smart items</p>
